<button mat-raised-button color="primary" routerLink="/hobbys" class="backButton">Volver</button>
<div class="hobbyDetailContainer">
<mat-card class="hobbyViewCard">
    <mat-card-title-group>
        <mat-card-title>{{hobby.nombre}}</mat-card-title>
        <mat-card-subtitle>Inicio: {{hobby.fechaInicioHobby}}</mat-card-subtitle>
        <img mat-card-xl-image src={{hobby.imageURL}} style="cursor: pointer;" (click)="openIMG(hobby.imageURL)">
    </mat-card-title-group>
    <mat-card-content>
        {{hobby.descripcion}}
    </mat-card-content>
    <mat-card-actions class="hobbyDetailContainer">
        <button mat-raised-button color="primary" (click)="editHobby()">EDITAR</button>
        <button mat-raised-button color="warn" (click)="delete()">ELIMINAR</button>
    </mat-card-actions>

</mat-card>
<mat-card class="rightListCard">
    <mat-card-title-group>
        <mat-card-title>Tareas de este hobby</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
        <mat-selection-list [multiple]="false">
            <a *ngFor="let tarea of tareas" routerLink="/tareas/{{tarea.id}}/view">
                <mat-list-option>
                    {{tarea.titulo}}, {{tarea.estado}}
                </mat-list-option>
            </a>            
        </mat-selection-list>
    </mat-card-content>
    <div flex>
        <div class="fabButtonTareas">
            <button color="primary" mat-fab (click)="openTareaDialog()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
</mat-card>
</div>
