<a class="buttonGlow backButton" style="--clr:#306d8a" routerLink="/hobbys"><span class="spanGlow">Volver</span><i></i></a>
<div class="hobbyDetailContainer">
    <mat-card class="hobbyViewCard">
        <mat-card-title-group>
            <mat-card-title>{{hobby.nombre}}</mat-card-title>
            <mat-card-subtitle>Inicio: {{hobby.fechaInicioHobby}}</mat-card-subtitle>
            <img mat-card-xl-image src={{hobby.imageURL}} style="cursor: pointer;" (click)="openIMG(hobby.imageURL)">
        </mat-card-title-group>
        <mat-card-content>
            {{hobby.descripcion}}
        </mat-card-content>
        <mat-card-actions class="hobbyDetailContainer">
            <a class="buttonGlow" style="--clr:#306d8a" (click)="editHobby()"><span class="spanGlow">EDITAR</span><i></i></a>
            <a class="buttonGlow" style="--clr:#9e0e0e" (click)="delete()"><span class="spanGlow">ELIMINAR</span><i></i></a>
        </mat-card-actions>

    </mat-card>
    <mat-card class="rightListCard">
        <mat-card-title-group>
            <mat-card-title>Tareas de este hobby</mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
            <mat-selection-list [multiple]="false">
                <a *ngFor="let tarea of tareas" routerLink="/tareas/{{tarea.id}}/view">
                    <mat-list-option>
                        {{tarea.titulo}}, {{tarea.estado}}
                    </mat-list-option>
                </a>
            </mat-selection-list>
        </mat-card-content>
        <div flex>
            <div class="fabButtonTareas">
                <button color="primary" mat-fab (click)="openTareaDialog()">
                <mat-icon>add</mat-icon>
            </button>
            </div>
        </div>
    </mat-card>
</div>