<div>
    <div flex>
        <div class="fabButton">
            <button color="primary" mat-fab (click)="openDialog()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div class="mat-primary container">
        <div class="hobbyDivContainer" *ngFor="let hobby of hobbys; let index=index">
            <!-- <mat-grid-list class="mat-grid-list" cols="2" rowHeight="3.5:1">-->
            <!-- Cards with media area -->
            <!--  <mat-grid-tile class="mat-grid-tile" *ngFor="let hobby of hobbys">-->
            <mat-card class="hobbyCard">
                <mat-card-title-group style="cursor: pointer;" routerLink="{{hobby.id}}/view">
                    <mat-card-title>{{hobby.nombre}}</mat-card-title>
                    <mat-card-subtitle>Inicio: {{hobby.fechaInicioHobby}}</mat-card-subtitle>
                </mat-card-title-group>
                <img mat-card-image src={{hobby.imageURL}} style="cursor: pointer;" (click)=openIMG(hobby.imageURL)>

                <mat-card-actions class="hobbyDetailContainer">
                    <a class="buttonGlow" style="--clr:#306d8a" (click)="editHobby(index)"><span class="spanGlow">EDITAR</span><i></i></a>
                    <a class="buttonGlow" style="--clr:#9e0e0e" (click)="delete(index)"><span class="spanGlow">ELIMINAR</span><i></i></a>
                </mat-card-actions>
            </mat-card>
            <!-- </mat-grid-tile> -->
            <!-- </mat-grid-list> -->
        </div>
    </div>

</div>