<div>
    <div flex>
        <div class="fabButton">
            <button color="primary" mat-fab (click)="openDialog()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div class="mat-primary container">
        <div class="hobbyDivContainer" *ngFor="let hobby of hobbys; let index=index">
            <!-- <mat-grid-list class="mat-grid-list" cols="2" rowHeight="3.5:1">-->
            <!-- Cards with media area -->
            <!--  <mat-grid-tile class="mat-grid-tile" *ngFor="let hobby of hobbys">-->
            <mat-card class="hobbyCard">
                <mat-card-title-group style="cursor: pointer;" routerLink="{{hobby.id}}/view">
                    <mat-card-title>{{hobby.nombre}}</mat-card-title>
                    <mat-card-subtitle>Inicio: {{hobby.fechaInicioHobby}}</mat-card-subtitle>
                </mat-card-title-group>
                <img mat-card-image src={{hobby.imageURL}}{{tokenURL}} style="cursor: pointer;" (click)=openIMG(hobby.imageURL)>

                <mat-card-actions class="hobbyDetailContainer">
                    <button mat-raised-button color="primary" (click)="editHobby(index)">EDITAR</button>
                    <button mat-raised-button color="warn" (click)="delete(index)">ELIMINAR</button>
                </mat-card-actions>
            </mat-card>
            <!-- </mat-grid-tile> -->
            <!-- </mat-grid-list> -->
        </div>
    </div>

</div>