<div style="margin-top: 80px;">
    <div class="container">
        <div class="hobbyDivContainer" *ngFor="let hobby of hobbys">
            <!-- <mat-grid-list class="mat-grid-list" cols="2" rowHeight="3.5:1">-->
            <!-- Cards with media area -->
            <!--  <mat-grid-tile class="mat-grid-tile" *ngFor="let hobby of hobbys">-->
            <mat-card class="hobbyCard">
                <mat-card-title-group>
                    <mat-card-title>{{hobby.nombre}}</mat-card-title>
                    <mat-card-subtitle>Inicio: {{hobby.fechaInicioHobby}}</mat-card-subtitle>
                </mat-card-title-group>
                <img mat-card-image src={{hobby.imageURL}}>

                <mat-card-actions>
                    <button mat-raised-button color="primary" routerLink="{{hobby.id}}/view">VIEW</button>
                    <button mat-stroked-button color="primary">EDIT</button>
                    <button mat-raised-button color="warn">DELETE</button>
                </mat-card-actions>
            </mat-card>
            <!-- </mat-grid-tile> -->
            <!-- </mat-grid-list> -->
        </div>
    </div>
</div>