<div mat-dialog-content>
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="box">
            <mat-card-header>
                <mat-card-title>{{h1}}</mat-card-title>
            </mat-card-header>
            <form class="example-form" (submit)="addHobby()" [formGroup]="newHobbyForm">
                <mat-form-field color="accent" class="example-full-width" appearance="fill">
                    <mat-label>Nombre:</mat-label>
                    <input matInput formControlName="nombre">
                    <mat-error *ngIf="nombre.errors?.['required']">
                        Se <strong>requiere</strong> un nombre para el hobby.
                    </mat-error>
                </mat-form-field>
                <mat-form-field color="accent" class="example-full-width" appearance="fill">
                    <mat-label>Descripción</mat-label>
                    <input matInput formControlName="descripcion">
                </mat-form-field>
                <p>
                    <mat-checkbox [(ngModel)]="checkBox" [ngModelOptions]="{standalone: true}">Borrar Imagen del hobby</mat-checkbox>
                </p>
                <mat-label>Imagen</mat-label>
                <file-upload requiredFileType="image/jpeg, image/png"></file-upload>
                <div class="hobbyDetailContainer">
                    <button type="submit" mat-raised-button color="primary" [disabled]="!newHobbyForm.valid">{{buttonText}}</button>
                    <button type="reset" mat-raised-button color="warn" (click)="closeDialog()">Cancelar</button>
                </div>
            </form>
        </mat-card>

    </div>