
<div mat-dialog-content>
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="box">
            <mat-card-header>
                <mat-card-title>Añadir un nuevo Hobby:</mat-card-title>
            </mat-card-header>
    <form class="example-form" (submit)="addHobby()" [formGroup]="newHobbyForm">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nombre:</mat-label>
            <input matInput formControlName="nombre">
            <mat-error *ngIf="nombre.errors?.['required']">
                Se <strong>requiere</strong> un nombre para el hobby.
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Descripción</mat-label>
            <input matInput formControlName="descripcion">
        </mat-form-field>
        <mat-label>Imagen</mat-label>
        <file-upload requiredFileType="image/jpeg, image/png"></file-upload>
        <div class="hobbyDetailContainer">
        <button type="reset" mat-raised-button color="accent" (click)="onNoClick()">Cancelar</button>
        <button type="submit" mat-raised-button color="primary" [disabled]="!newHobbyForm.valid">Crear</button>
        </div>
    </form>
        </mat-card>

</div>
