<mat-toolbar color="primary" class="app-header">
    <div class="hobbyDetailContainer" style="width: 400px;">
        <button mat-raised-button color="accent" style="--clr:#986c29" class="buttonGlow" *ngIf="localStorage.length>0" routerLink="hobbys"><span class="spanGlow">Inicio</span><i></i></button>
        <button mat-raised-button color="accent" style="--clr:#986c29" class="buttonGlow" *ngIf="localStorage.length>0" routerLink="tareas"><span class="spanGlow">Tareas</span><i></i></button>
        <button mat-raised-button color="accent" style="--clr:#986c29" class="buttonGlow" *ngIf="localStorage.length>0" routerLink="gastos"><span class="spanGlow">Gastos</span><i></i></button>
    </div>
    <div class="nav-tool-items">
        <button mat-raised-button color="accent" style="--clr:#986c29" class="buttonGlow" *ngIf="localStorage.length>0" routerLink="login" routerLinkActive="active" (click)="logOut()"><span class="spanGlow">Log Out</span><i></i></button>
        <button id="registerButton" mat-raised-button routerLink="register" routerLinkActive="active">Register</button>
    </div>
</mat-toolbar>