<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
        </mat-card-header>
        <form class="example-form" (submit)="login()" [formGroup]="loginFormGroup">
            <mat-form-field color="accent" class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="email.errors?.['email']">
                    Introduce una dirección de email válida
                </mat-error>
                <mat-error *ngIf="email.errors?.['required']">
                    Se <strong>requiere</strong> un email.
                </mat-error>
            </mat-form-field>
            <mat-form-field color="accent" class="example-full-width" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput formControlName="password">
                <mat-error *ngIf="password.errors?.['required']">
                    La contraseña es <strong>obligatoria</strong>
                </mat-error>
            </mat-form-field>
            <button type="submit" mat-stroked-button color="primary" [disabled]="!loginFormGroup.valid" class=" btn-block ">Log in</button>
        </form>
    </mat-card>
</div>