html,
body {
    height: 100%;
}

body {
    margin: 0;
    margin-top: 70px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    min-height: 100vh;
    background: #849da3;
}

.app-header {
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

#registerButton {
    display: none;
}

.nav-tool-items {
    display: flex;
    /*  border: 0.2em solid black;*/
    width: 175px;
    justify-content: space-between;
}

.login-wrapper {
    height: 100%;
}

.positronx {
    text-decoration: none;
    color: #ffffff;
}

.box {
    position: relative;
    top: 0;
    opacity: 1;
    float: left;
    padding: 60px 50px 40px 50px;
    width: 100%;
    background: #efd8ff;
    border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
    max-width: 330px;
}

.box.back {
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    top: -20px;
    opacity: .8;
    z-index: -1;
}

.login-wrapper .example-form {
    min-width: 100%;
    max-width: 300px;
    width: 100%;
}

.login-wrapper .example-full-width,
.login-wrapper .btn-block {
    width: 100%;
}

.login-wrapper mat-card-header {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 700;
}

.login-wrapper mat-card-header mat-card-title {
    font-size: 30px;
    margin: 0;
}

.login-wrapper .mat-card {
    padding: 40px 70px 50px;
}

.login-wrapper .mat-stroked-button {
    border: 1px solid currentColor;
    line-height: 54px;
}

.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.8375em 0;
}

.container {
    border: 3px black solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.detailContainer {
    border: 3px black solid;
}

.hobbyDetailContainer {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around !important;
}

.hobbyDivContainer {
    width: 300px;
    padding: 16px;
    border: 3px black solid;
}

.hobbyDivContainer>.mat-card {
    width: 250px;
    border: 3px black solid;
}

.mat-grid-list {
    position: unset !important;
}

.hobbyViewCard {
    max-width: 450px;
    margin: 20px;
    height: max-content;
}

.GastoViewCard {
    margin: 20px;
    height: max-content;
    max-width: 900px;
}

.rightListCard {
    max-width: 600px;
    margin: 20px;
    height: fit-content;
}

.fabButton {
    position: fixed;
    right: 1em;
    bottom: 1em;
}

.rightListTabs {
    width: 900px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    min-height: 175px;
    max-height: fit-content;
}

.backButton {
    margin: 10px 10px 10px 20px !important;
}

.imagenes {
    display: inline-flex;
}